header{
    margin: 20px;
    background-color: aliceblue;
}
footer{
    position: fixed;
}
#menu ul {
    padding:0px;
    margin:0px;
    text-align: center;
    background-color: aliceblue;
    list-style:none;
}
#menu ul li { 
    display: inline; 
}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:white;
    color: darkgray;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid aqua;
}